body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 67px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: gray;
  padding: 6px;
  width: 204px;
  float: right;
  justify-content: center;
  }
  
.set { grid-area: 1 / 1 / 7 / 2; } 


.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .reservationPack { grid-area: 1 / 1 / 4 / 2; } 
  .gameZone { grid-area: 1 / 2 / 7 / 6; }
  .discarCoplums {grid-area: 1 / 6 / 7 / 7;
    background-color: brown;
  }

.discarArea{
  width: 177px;
  height: 268px;
  background-color: red;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
}